<mat-toolbar>
  <span class="app-title">{{ title }}</span>
  <div class="nav-items">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/weather">Weather</a>
  </div>
  <span class="example-spacer"></span>
  <ng-container *ngIf="oidcSecurityService.userData$ | async as user; else notLoggedIn">
    <span class="username">Welcome {{ user.given_name }}</span>
    <button mat-raised-button color="secondary" (click)="logout()">Logout</button>
  </ng-container>
  <ng-template #notLoggedIn>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
